<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sobre mi</title>
</head>
<body>
    <header>
        <h1>Mas sobre mí</h1>
    </header>
    <main>
    <article>
        <h3>Vida Personal</h3>
        <p>Me críe y viví toda mi vida en el barrio de Olivos. A los 23 años me mudé a Vicente Lopez donde vivo actualmente con mi hija Ambar y mi mujer Agustina que está emabarazada de 7 meses.</p>
    </article>
    <article>
        <h3>Mis Pasiones</h3>
        <p>Me gusta muchísimo el futbol, especialmente el Club Atlético River Plate. Además disfruto muchísimo de viajar, siendo mi destino preferido Europa.</p>
    </article>
    <article>
        <h3>Objetivos</h3>
        <p>Lograr aprender y desarrollarme en este ámbito novedoso para mí de la programación y eventualmente emigrar hacia el viejo continente.</p>
    </article>
    <footer>
        <a href="../Index.html">HOME</a>
    </footer>
</main>
</body>
</html>